body {
    margin: 0;
    padding: 0;
    background: white url(loading.gif) center center no-repeat;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    height: 100%;
}


#currentInfo {
    width: 100%;
    position: absolute;
    top: 93%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;

}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.year {
    text-align: center;
    float: left;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 1.5vw;
    color: black;
    margin-right: 20px;
    margin-bottom: 50px;
}

#ce span {
    display: none;
}


@keyframes appearFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    overflow: hidden;
    position: relative;
    font-size: 4vw !important;
}

h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: appearFromBottom 0.5s forwards;
    animation-delay: calc(0.5s * var(--index));
}

canvas {
    width: 100% !important;
    height: auto !important;
    position: relative !important;
}

.btn-view-all div:first-child {
    transition: background-color 0.3s ease;
}

.btn-view-all:hover div:first-child {
    background-color: black;
}